%ul.main-messages
  %li.main-message
    .message_header
      名前１
      %span#date 2018/10/06
    %p.message_body テスト
  %li.main-message
    .message_header
      名前２
      %span#date 2018/10/06
    %p.message_body テスト
